/* Inicio de header */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-family: 16px;
}

.contenedor {
    width: 90%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

header {
    width: 100%;
    background: url(/imagenes/bg.jpg) #281a0c;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}

header .contenedor a {
    text-align: center;
    color: white;
    text-decoration: none;
}

header .contenedor {
    position: relative;
    height: 700px;
}

header .menu {
    width: 100%;
    text-align: right;
}

header .menu a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;
}

header .contenedorTexto .texto {
    border: 2px solid white;
    width: 50%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header .contenedor .contenedorTexto .texto h1 {
    font-weight: 300;
    font-size: 60px;
    padding: 12px;
    font-family: sans-serif;
}

header .contenedor .contenedorTexto .texto h2 {
    font-weight: 300;
    font-size: 35px;
    padding: 12px;
    font-family: sans-serif;
}

header .contenedorTexto .texto .nombre,
header .contenedorTexto .texto .profesion {
    font-size: 50px;
    font-weight: 600;
}

/* fin de header  */
/* inicio de main */
.main .contenedor {
    overflow: visible;
    position: relative;
    height: 500px;
}

.main .contenedor .foto {
    width: 20%;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    z-index: 0;
}

.main .contenedor .foto img {
    vertical-align: top;
    width: 50%;
    border-radius: 50%;
}

.main .contenedor {
    overflow: visible;
    position: relative;
    background: white;
}

.main .contenedor .texto {
    width: 50%;
    position: relative;
    top: 100px;
    z-index: 1;
    margin: 0 auto;
}

.main .contenedor .texto .titulo {
    text-align: center;
    color: gold;
    font-size: 40px;
    font-family: sans-serif;
    padding: 10px;
}
.main .contenedor .texto .bold{
    text-decoration: underline;
    color: #0077cc;
}

.main .contenedor .texto p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;

}

/* galeria  */
.main .trabajos .contenedor .trabajos {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    font-family: sans-serif;
}

.trabajos {
    background-color: #f2f2f2;
    /* Color de fondo rojo para toda la sección */
    overflow: hidden;
    /* Evitar que los elementos hijos se desborden */
}

.trabajos .contenedor {
    margin-top: 40px;
}

.contenedorTrabajos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 80%;
}

.trabajo {
    margin: 0;
    padding: 0;
}

.thumb {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.descripcion {
    text-align: center;
}

.descripcion p {
    margin: 5px 0;
}

/* footer */
footer .contacto .contenedor .titulo {
    text-align: center;
    font-size: 30px;
    color: #3498db;
    padding: 20px;
}

footer .contacto .contenedor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

footer .contacto .contenedor.formulario {
    margin-top: 20px;
}

footer .contacto .contenedor.formulario .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.formulario input,
.formulario textarea {
    width: 48%;
    /* Ajusta el ancho de los campos */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formulario textarea {
    width: 97%;
    /* Ajusta el ancho del textarea */
    height: 50px;
    resize: none;
}

.buton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 10px auto 0;
}

.redesSociales {
    background-color: #000040;
    text-align: center;
    padding: 20px 0;
}

.redesSociales a {
    color: #fff;
    margin: 0 10px;
}

.redesSociales a:hover {
    opacity: 0.8;
}

/* media query */
@media screen and (max-width: 800px) {
    /* Estilos para el header */
    header .menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    header .contenedorTexto .texto {
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header .contenedor {
        height: 300px;
    }

    header .contenedor .foto {
        top: -70px;
    }

    header .contenedor .contenedorTexto .texto h1 {
        font-size: 30px;
    }

    header .contenedor .contenedorTexto .texto h2 {
        font-size: 16px;
    }

    .main .contenedor {
        height: auto;
    }

    .main .contenedor .foto {
        width: 30%;
        top: 0;
    }

    .main .contenedor .texto {
        width: 80%;
        top: 0;
    }

    .trabajos .contenedorTrabajos {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        height: auto;
    }

    .thumb {
        height: 200px;
    }

    footer .contacto .contenedor .formulario input,
    footer .contacto .contenedor .formulario textarea {
        width: 100%;
    }

    footer .contacto .contenedor .formulario .fila {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {

    header .contenedor {
        height: 200px;
    }

    header .menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    header .contenedorTexto .texto {
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header .contenedor .foto {
        top: -70px;
    }

    header .contenedor .contenedorTexto .texto h1 {
        font-size: 20px;
    }

    header .contenedor .contenedorTexto .texto h2 {
        font-size: 14px;
    }


    .trabajos .contenedorTrabajos {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .thumb {
        height: 150px;
    }


    footer .contacto .contenedor .formulario input,
    footer .contacto .contenedor .formulario textarea {
        width: 100%;
    }

    footer .contacto .contenedor .formulario .fila {
        flex-direction: column;
    }
}